<template>
        <div>
            <component :is="layout">
            <router-view></router-view>
            </component>
        </div>
</template>
<script>
import Default from './layouts/Default';
import Auth from './layouts/Auth';

export default {
    computed: {
        layout(){
            return this.$route.meta.layout ? Auth : Default
        }
    },
    components: {Default, Auth}
};
</script>
