<template>
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-edit"></i>
                Admin Page
            </h3>
        </div>
        <div class="card-body">
            <ul
                class="nav nav-tabs"
                id="custom-content-below-tab"
                role="tablist"
            >
                <li class="nav-item">
                    <a
                        class="nav-link active"
                        id="custom-content-below-home-tab"
                        data-toggle="pill"
                        href="#custom-content-below-home"
                        role="tab"
                        aria-controls="custom-content-below-home"
                        aria-selected="true"
                        >Admin</a
                    >
                </li>
            </ul>
            <div class="tab-content" id="custom-content-below-tabContent">
                <div
                    class="tab-pane fade active show"
                    id="custom-content-below-home"
                    role="tabpanel"
                    aria-labelledby="custom-content-below-home-tab"
                >
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-tools">
                                        <div class="input-group input-group-sm">
                                            <div class="input-group-append">
                                                <button
                                                    type="submit"
                                                    class="btn btn-primary"
                                                >
                                                    <i
                                                        class="fas fa-user-plus"
                                                    ></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody v-if="admins.length > 0">
                                            <tr
                                                v-for="(admin, key) in admins"
                                                :key="key"
                                            >
                                                <td>{{ admin.id }}</td>
                                                <td>{{ admin.name }}</td>
                                                <td>{{ admin.email }}</td>
                                                <td>
                                                    <div
                                                        class="btn-group"
                                                        role="group"
                                                    >
                                                        <button
                                                            class="btn btn-primary"
                                                        >
                                                            <i
                                                                class="fas fa-pencil-alt"
                                                            ></i>
                                                        </button>
                                                        |
                                                        <button
                                                            class="btn btn-danger"
                                                            @click="
                                                                deleteAdmin(
                                                                    admin.id
                                                                )
                                                            "
                                                        >
                                                            <i
                                                                class="fas fa-trash-alt"
                                                            ></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card -->
    </div>
</template>
<script>
import Endpoint from "../apis/Endpoint";

export default {
    name: "Home",
    data() {
        return {
            admins: []
        };
    },
    created() {
        this.fetchAdmins();
    },
    methods: {
        fetchAdmins() {
            Endpoint.admins().then(response => {
                this.admins = response.data.data.data;
            });
        },
        deleteAdmin(adminId) {
            if (confirm("Are you sure to delete this admin ?")) {
                Endpoint.adminDelete(adminId)
                    .then(response => {
                        this.fetchAdmins();
                    })
                    .catch(error => {
                        if (error.response.status == 400) {
                            console.log(error.response.data.message);
                        }
                    });
            }
        }
    }
};
</script>
