<template>
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-edit"></i>
                Student Home
            </h3>
        </div>
        <div class="card-body">
            <ul
                class="nav nav-tabs"
                id="custom-content-below-tab"
                role="tablist"
            >
                <li class="nav-item">
                    <a
                        class="nav-link active"
                        id="custom-content-below-home-tab"
                        data-toggle="pill"
                        href="#custom-content-below-home"
                        role="tab"
                        aria-controls="custom-content-below-home"
                        aria-selected="true"
                        >Student</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        id="custom-content-below-profile-tab"
                        data-toggle="pill"
                        href="#custom-content-below-profile"
                        role="tab"
                        aria-controls="custom-content-below-profile"
                        aria-selected="false"
                        >Teacher</a
                    >
                </li>
            </ul>
            <div class="tab-content" id="custom-content-below-tabContent">
                <div
                    class="tab-pane fade active show"
                    id="custom-content-below-home"
                    role="tabpanel"
                    aria-labelledby="custom-content-below-home-tab"
                >
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-tools">
                                        <div
                                            class="input-group input-group-sm"
                                            style="width: 150px;"
                                        >
                                            <input
                                                type="text"
                                                name="table_search"
                                                class="form-control float-right"
                                                placeholder="Search"
                                            />

                                            <div class="input-group-append">
                                                <button
                                                    type="submit"
                                                    class="btn btn-default"
                                                >
                                                    <i
                                                        class="fas fa-search"
                                                    ></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                            </tr>
                                        </thead>
                                        <tbody v-if="students.length > 0">
                                            <tr
                                                v-for="(student,
                                                key) in students"
                                                :key="key"
                                            >
                                                <td>{{ student.id }}</td>
                                                <td>{{ student.name }}</td>
                                                <td>{{ student.email }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
                <div
                    class="tab-pane fade"
                    id="custom-content-below-profile"
                    role="tabpanel"
                    aria-labelledby="custom-content-below-profile-tab"
                >
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody v-if="teachers.length > 0">
                                <tr
                                    v-for="(teacher, key) in teachers"
                                    :key="key"
                                >
                                    <td>{{ teacher.id }}</td>
                                    <td>{{ teacher.name }}</td>
                                    <td>{{ teacher.email }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.card -->
    </div>
</template>
<script>
import Endpoint from "../apis/Endpoint";

export default {
    name: "Home",
    data() {
        return {
            students: [],
            teachers: []
        };
    },
    created() {
        this.fetchStudents();
        this.fetchTeachers();
    },
    methods: {
        fetchStudents() {
            Endpoint.students().then(response => {
                this.students = response.data.data.data;
                console.log(this.students);
            });
        },

        fetchTeachers() {
            Endpoint.teachers().then(response => {
                this.teachers = response.data.data.data;
            });
        }
    }
};
</script>
