<template>
  <footer class="main-footer">
    <div class="float-right d-none d-sm-inline">
      AdminLTE 3.0.5
    </div>
    <strong>
      Copyright &copy; 2021
      <a href="">Jurgen Batubara</a>.
    </strong> All rights reserved.
   </footer>
</template>