<template>
    <div class="">
        <div
            class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
        >
            <h5 class="my-0 mr-md-auto font-weight-normal">SmartScool</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="#">Features</a>
                <a class="p-2 text-dark" href="#">Support</a>
                <a class="p-2 text-dark" href="#">Pricing</a>
            </nav>
            <a class="btn btn-outline-primary" href="#">Sign up</a>
        </div>
        <div
            class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center container"
        >
            <h1 class="display-4">SmartScool</h1>
            <p class="lead">
                “Education is the most powerful weapon you can use to change the
                world.” <b>Nelson Mandela</b>
            </p>
        </div>

        <div class="container">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Student</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">
                            Start as a Student
                        </h1>

                        <router-link to="student/register">
                            <button
                                type="button"
                                class="btn btn-lg btn-block btn-outline-primary"
                            >
                                Sign up
                            </button>
                        </router-link>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Teacher</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">
                            Start as a Teacher
                        </h1>
                         <router-link to="teacher/register">
                        <button
                            type="button"
                            class="btn btn-lg btn-block btn-outline-primary"
                        >
                            Sign up
                        </button>
                         </router-link>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">School</h4>
                    </div>
                    <div class="card-body text-center">
                        <h1 class="card-title pricing-card-title">
                            Register your School
                        </h1>

                         <router-link to="register">
                        <button
                            type="button"
                            class="btn btn-lg btn-block btn-outline-primary"
                        >
                            Sign up
                        </button>
                         </router-link>
                    </div>
                </div>
            </div>

            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <div class="row">
                    <div class="col-12 col-md">
                        <small class="d-block mb-3 text-muted"
                            >&copy; 2021</small
                        >
                    </div>
                </div>
            </footer>
        </div>
    </div>
</template>
