<template>
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#">
                    <i class="fas fa-bars"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a @click.prevent="logout" class="nav-link btn btn-outline-primary">
                    Log Out
                </a>
            </li>
        </ul>
    </nav>
</template>
<script>
import SchoolAdmin from "../apis/Endpoint";

export default {
    methods: {
        logout() {
            SchoolAdmin.logout().then(() => {
                this.$store.dispatch("logout");
            });
        }
    }
};
</script>
