<template>
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <a href="#" class="brand-link">
            <span class="brand-text font-weight-light">SmartSchool</span>
        </a>
        <div class="sidebar">
            <nav class="mt-2">
                <ul
                    class="nav nav-pills nav-sidebar flex-column"
                    data-widget="treeview"
                    role="menu"
                    data-accordion="false"
                >
                    <li
                        class="nav-item"
                        v-for="(value, index) in listSidebar"
                        :key="index"
                    >
                        <router-link class="nav-link" :to="value.path">
                            <i class="nav-icon" v-bind:class="value.icon"></i>
                            <p>{{ value.title }}</p>
                        </router-link>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
</template>
<script>
export default {
    computed: {
        listSidebar() {
            return this.$store.state.sidebar || [];
        }
    },
    methods: {}
};
</script>
