<template>
    <div class="hold-transition login-page">
        <div class="login-box">
            <!-- /.login-logo -->
            <div class="card card-outline card-primary">
                <div class="card-header text-center">
                    <span class="h1"> <b>Smart</b>School </span>
                </div>
                <div class="card-body">
                    <p class="login-box-msg">Sign in to start your session</p>
                    <div class="input-group mb-3">
                        <input
                            v-model="form.email"
                            id="email"
                            type="email"
                            class="form-control"
                            placeholder="Email"
                        />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                        <span class="text-danger w-100" v-if="errors.email">
                            {{ errors.email.error }}
                        </span>
                    </div>
                    <div class="input-group mb-3">
                        <input
                            v-model="form.password"
                            type="password"
                            id="password"
                            class="form-control"
                            placeholder="Password"
                        />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <span class="text-danger w-100" v-if="errors.password">
                            {{ errors.password.error }}
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember" />
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button
                                type="submit"
                                @click.prevent="login"
                                class="btn btn-primary btn-block"
                            >
                                Sign In
                            </button>
                        </div>
                        <!-- /.col -->
                    </div>
                    <p class="mb-0">
                        <router-link class="text-center" to="/student/register"
                            >Sign Up!</router-link
                        >
                    </p>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</template>

<script>
import Endpoint from "../apis/Endpoint";

export default {
    data() {
        return {
            form: {
                email: "",
                password: ""
            },
            errors: {
                email: "",
                password: ""
            }
        };
    },
    watch: {
        "form.email"(newVal) {
            if (newVal) {
                this.errors.email = "";
            }
        },
        "form.password"(newVal) {
            if (newVal) {
                this.errors.password = "";
            }
        }
    },
    methods: {
        login() {
            Endpoint.loginStudent(this.form)
                .then(res => {
                    this.$store.dispatch("getAuthData", res.data.data);
                    this.$router.push("/student/dashboard");
                })
                .catch(error => {
                    if (error.response.status == 422) {
                        const err = error.response.data.data;
                        const errordata = this.errors;

                        for (let x in errordata) {
                            errordata[x] = err.find(e => e.field === x);
                        }
                        this.errors = errordata;
                    }

                    if (error.response.status == 400) {
                        // this.errors = error.response.data.message;
                    }
                });
        }
    }
};
</script>
