<template>
    <div class="hold-transition register-page">
        <div class="alert alert-danger" role="alert" v-if="errorTnc">
            Accept Terms and Condition
        </div>
        <div class="register-box">
            <div class="card card-outline card-primary">
                <div class="card-header text-center">
                    <span> <b>Smart</b>Jen </span>
                </div>
                <div class="card-body">
                    <p class="login-box-msg">Register as a teacher</p>
                    <div class="input-group mb-3">
                        <input
                            v-model="form.school_id"
                            type="text"
                            class="form-control"
                            id="school_id"
                            placeholder="School ID"
                        />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-school"></span>
                            </div>
                        </div>
                        <span class="text-danger w-100" v-if="errors.school_id">
                            {{ errors.school_id.error }}
                        </span>
                    </div>
                    <div class="input-group mb-3">
                        <input
                            v-model="form.name"
                            type="text"
                            class="form-control"
                            id="name"
                            placeholder="Full name"
                        />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                        <span class="text-danger w-100" v-if="errors.name">
                            {{ errors.name.error }}
                        </span>
                    </div>
                    <div class="input-group mb-3">
                        <input
                            v-model="form.email"
                            type="email"
                            class="form-control"
                            id="email"
                            placeholder="Email"
                        />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                        <span class="text-danger w-100" v-if="errors.email">
                            {{ errors.email.error }}
                        </span>
                    </div>
                    <div class="input-group mb-3">
                        <input
                            v-model="form.password"
                            type="password"
                            class="form-control"
                            id="password"
                            placeholder="Password"
                        />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <span class="text-danger w-100" v-if="errors.password">
                            {{ errors.password.error }}
                        </span>
                    </div>
                    <div class="input-group mb-3">
                        <input
                            v-model="form.password_confirmation"
                            type="password"
                            class="form-control"
                            id="password_confirmation"
                            placeholder="Retype password"
                        />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <span
                            class="text-danger w-100"
                            v-if="errors.password_confirmation"
                        >
                            {{ errors.password_confirmation.error }}
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input
                                    v-model="tnc"
                                    type="checkbox"
                                    id="agreeTerms"
                                    name="terms"
                                    value="agree"
                                />
                                <label for="agreeTerms">
                                    I agree to the <a href="#">terms</a>
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button
                                type="submit"
                                @click.prevent="register"
                                class="btn btn-primary btn-block"
                            >
                                Register
                            </button>
                        </div>
                        <!-- /.col -->
                    </div>
                    <router-link class="text-center" to="/teacher/login"
                        >I already have an account</router-link
                    >
                </div>
                <!-- /.form-box -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.register-box -->
</template>
<script>
import Endpoint from "../apis/Endpoint";

export default {
    data() {
        return {
            form: {
                school_id: "",
                name: "",
                email: "",
                password: "",
                password_confirmation: ""
            },
            errorTnc: false,
            tnc: false,
            errors: {
                email: "",
                password: "",
                school_id: "",
                name: "",
                password_confirmation: ""
            }
        };
    },
    watch: {
        "form.school_name"(newVal) {
            if (newVal) {
                this.errors.school_name = "";
            }
        },
        "form.name"(newVal) {
            if (newVal) {
                this.errors.name = "";
            }
        },
        "form.email"(newVal) {
            if (newVal) {
                this.errors.email = "";
            }
        },
        "form.password"(newVal) {
            if (newVal) {
                this.errors.password = "";
            }
        },
        "form.password_confirmation"(newVal) {
            if (newVal) {
                this.errors.password_confirmation = "";
            }
        },
        tnc() {
            if (this.tnc) {
                this.errorTnc = false;
            }
        }
    },
    methods: {
        register() {
            if (!this.tnc) {
                this.errorTnc = true;
                return;
            }
            Endpoint.registerTeacher(this.form)
                .then(() => {
                    this.$router.push({ name: "Login" });
                })
                .catch(error => {
                    if (error.response.status == 422) {
                        const err = error.response.data.data;
                        const errordata = this.errors;

                        for (let x in errordata) {
                            errordata[x] = err.find(e => e.field === x);
                        }
                        this.errors = errordata;
                    }
                });
        }
    }
};
</script>
